<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My first Flask project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <h1><a href="http://127.0.0.1:5000">HOME</a></h1>
    <ul>
      {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
      {% else %}
        <li><a href="{{ url_for('users.register') }}">Register</a>
        <li><a href="{{ url_for('users.login') }}">Log In</a>
      {% endif %}
    </ul>
  </nav>
  <header>
    <div id="header">{% block header %}{% endblock %}</div>
  </header>
  <div id="messages-wrap">
    <div id="messages">
      {% for category, msg in get_flashed_messages(with_categories=true) %}
        <p class="message flash-{{ category }}">{{ msg }}</p>
      {% endfor %}
    </div>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>